* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5 ease;
}

body {
    font-family: sans-serif;
    background-color: blueviolet;
}

button {
    padding: 0.5rem;
    height: 40px;
    width: 40px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    height: 300px;
    width: 280px;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: chartreuse;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    height: 15%;
    width: 95%;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: white;
    margin-bottom: 0.5rem;
}